body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}

#error-message {
    color: red;
    display: none;
}

#success-message {
    color: green;
    display: none;
}